<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="farif.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="farif.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <farif.Properties.Settings>
            <setting name="FileFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>true;.asp</string>
                        <string>true;.bat</string>
                        <string>true;.c</string>
                        <string>true;.cmd</string>
                        <string>true;.cpp</string>
                        <string>true;.cs</string>
                        <string>true;.css</string>
                        <string>true;.h</string>
                        <string>true;.hh</string>
                        <string>true;.hpp</string>
                        <string>true;.htm</string>
                        <string>true;.html</string>
                        <string>true;.ini</string>
                        <string>true;.kml</string>
                        <string>true;.mxml</string>
                        <string>true;.pas</string>
                        <string>true;.php</string>
                        <string>true;.php3</string>
                        <string>true;.php4</string>
                        <string>true;.php5</string>
                        <string>true;.phps</string>
                        <string>true;.phpt</string>
                        <string>true;.phtml</string>
                        <string>true;.py</string>
                        <string>true;.shtml</string>
                        <string>true;.svg</string>
                        <string>true;.txt</string>
                        <string>true;.vb</string>
                        <string>true;.wsdl</string>
                        <string>true;.xaml</string>
                        <string>true;.xhtml</string>
                        <string>true;.xlf</string>
                        <string>true;.xml</string>
                        <string>true;.xs</string>
                        <string>true;.xsd</string>
                        <string>true;.xslt</string>
                        <string>true;.xsml</string>
                        <string>false;desktop.ini</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IsIncludeSubFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRepairLfCr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedLineEnding" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedInputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRepairLfCrEnabledState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTryDetectEncoding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSearchText" serializeAs="String">
                <value />
            </setting>
            <setting name="LastReplaceText" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSearchAndReplaceCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsSearchAndReplace" serializeAs="String">
                <value>False</value>
            </setting>
        </farif.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <farif.Properties.Settings>
            <setting name="OutputIntervall" serializeAs="String">
                <value>10</value>
            </setting>
        </farif.Properties.Settings>
    </applicationSettings>
</configuration>